.content{
    text-align: center;
    font-weight: 400px;
    font-size: large;
    width:610px;
    margin-right: auto;
    margin-left: auto;
    border: 20px solid #f5b0e9;
    padding: 100px;
    margin: 100px;
}

.container{
    margin-right: 10%;
    margin-left:10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

footer{
    text-align: center;
    background-color: black;
    font-size: 12px;
    color: white;
  }

.image{
    text-align: center;
}

.hi{
    text-align: center;
}

